@import url(reset.css);
@import url(fonts.css);
@import url(grid.css);

:root {
  --primary-color: #0CBFAE;
  --secondary-color: #F57F17;
  --first-shadow-color: #60E9FF;
  --dark-text-color: #333333;
  --light-text-color: #95A5C6;
  --default-border-radius: 2rem;
  --light-bg-color: #FFFFFF;
  --dark-bg-color: #161D26;
  --secondary-bg-color: rgb(31, 41, 53);
  --transition-default: all 0.3s ease-in;
}

/* =====================================
  General style
========================================*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins-Regular";
  font-size: 1.6rem;
  line-height: 1.4;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* =====================================
  Helper Class
========================================*/
.flx {
  display: flex;
}

.align-center {
  align-items: center;
}

/* justify-content-space-between */
.jus-sbt {
  justify-content: space-between;
}

.jus-cen {
  justify-content: center;
}

/* h1 title */
.h1t {
  font-family: "Poppins-Bold";
  font-size: 4rem;
  color: var(--primary-color);
}

.h2t {
  font-family: "Poppins-Bold";
  font-size: 3.6rem;
  color: var(--primary-color);
}

/* text dedault style */
.tds {
  font-family: "Poppins-Regular";
  font-size: 1.4rem;
  color: var(--light-text-color);
}

.wrapper-default-btns {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.btn {
  background: #0CBFAE;
  width: 20rem;
  height: 5rem;
  border-radius: 4rem;
  color: var(--light-bg-color);
}

.btn--orange {
  background-color: var(--secondary-color);
}



/* =====================================
  App Styles - Navigation
========================================*/

.home {
  height: 54rem;
  position: relative;
  background-image: url(../images/shapes/header-shape.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 3rem;
}

.header {
  box-shadow: 0 0 10px 0 var(--first-shadow-color);
  z-index: 100;
}

.nav {
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}

.menu__item {
  margin-right: 2rem;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link--active {
  color: var(--primary-color);
}

.menu__link {
  transition: var(--transition-default);
}

.menu__link:hover {
  color: var(--primary-color);
}

.nav__btn {
  display: none;
}

/* =====================================
  Home section
========================================*/

.home {
  margin-top: 10rem;
}

.home__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home__name {
  font-family: "Poppins-SemiBold";
  font-size: 2.2rem;
  color: var(--primary-color);
}

.home__name span {
  color: var(--secondary-color);
}

.home__img {
  background-image: url(../images/header-avatar.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  border: 10px solid var(--light-bg-color);
  box-shadow: 0 0 10px 0 var(--primary-color);
}

.home__banner {
  margin-left: 10rem;
}

/* =====================================
  About section
========================================*/

.about {
  margin-top: 5rem;
}

.general-head-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.general-head-section__title {
  margin-bottom: 1.4rem;
}

.general-head-section__caption {
  font-family: "Poppins-Regular";
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.general-head-section--line {
  background-color: var(--primary-color);
  width: 20rem;
  height: 0.3rem;
  position: relative;
}

.general-head-section--line::before {
  content: " ";
  position: absolute;
  left: 50%;
  top: -50%;
  background-color: var(--primary-color);
  width: 4rem;
  height: 0.6rem;
  border-radius: 2rem;
  transform: translateX(-50%);
}

.about__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 var(--primary-color);
  height: 54rem;
  padding: 0;
  border-radius: 1rem;
  overflow: hidden;
}

.about__banner {
  flex-grow: 1;
  flex-basis: 50%;
  height: 100%;

}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__description {
  flex-basis: 50%;
  padding-left: 4rem;
  padding-right: 4rem;
}

.about__title {
  font-family: "Poppins-SemiBold";
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.about__caption {
  font-family: "Poppins-Regular";
  font-size: 1.4rem;
  color: var(--light-text-color);
  margin-bottom: 5rem;
}

.about__title-features {
  font-family: "Poppins-SemiBold";
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.about__feature {
  font-family: "Poppins-Regular";
  font-size: 1.4rem;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 3rem;
  display: flex;
  align-items: center;
}

.about__feature::before {
  content: "";
  background-color: var(--secondary-color);
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
}

/* =====================================
  Services section
========================================*/

.services {
  margin: 4rem 0;
}

.service--purple {
  background-color: #8540FF;
}

.service--yellow {
  background-color: #FFC50C;
}

.service--pink {
  background-color: #EC407A;
}

.service--orange {
  background-color: #FF6331;
}

.service--blue {
  background-color: #13B6FF;
}

.service--green {
  background-color: #49AF46;
}

.service {
  padding: 6rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.service__icon-box {
  margin-bottom: 2rem;
}


.service__title {
  font-family: "Poppins-Bold";
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--light-bg-color);
}

.service__caption {
  font-family: "Poppins-Regular";
  font-size: 1.3rem;
  color: var(--light-bg-color);
  text-align: center;
  max-width: 23rem;
}

.service__shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* =====================================
  Resume section
========================================*/

.resume {
  margin-top: 20rem;
  box-shadow: 0 0 10px 0 var(--primary-color);
  transform: skewY(-10deg);
  padding: 10rem 0;
}

.resume .container {
  transform: skewY(10deg);
}

.resume__list {
  box-shadow: 0 0 10px var(--primary-color);
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.resume__list::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--primary-color);
  width: 4rem;
  height: 100%;
  z-index: -1;
}

.resume__list-item {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
  cursor: pointer;
  transition: all 0.3s ease-in;
  width: 28rem;
}

.resume__list-item--active {
  color: var(--light-bg-color);
}

.resume__list-item::before {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  width: 5.4rem;
  border-radius: 2rem;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.3s ease-in;
}

.resume__list-item--active::before {
  width: 26rem;
}

.resume__list-item:last-child {
  margin-bottom: 0;
}

.resume__list-icon {
  height: 2rem;
  width: 2rem;
  margin: 1rem;
}

.resume__list-text {
  padding-left: 2rem;
}

.resume__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0;
  overflow: hidden;
  display: none;
  position: relative;
  height: 40rem;
  padding-left: 4rem;
}

.resume__content::before {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  width: 0.2rem;
  height: auto;
  left: 0;
  top: 0;
  bottom: 0;
}

.resume__content--show {
  opacity: 1;
  overflow: visible;
  display: block;
}

.resume__content-item {
  position: relative;
  margin-bottom: 2rem;
}

.resume__content-item::before {
  position: absolute;
  content: "";
  background-color: var(--primary-color);
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  left: -4.8rem;
  top: 5px;
  bottom: 0;
}

.resume__content-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.resume__content-title {
  font-family: "Poppins-SemiBold";
  font-size: 1.6rem;
  color: var(--secondary-color);
}

.resume__content-date {
  background-color: var(--secondary-color);
  color: var(--light-bg-color);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1rem;
}

.resume__content-subtitle {
  font-family: "Poppins-SemiBold";
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.resume__content-caption {
  font-family: "Poppins-Regular";
  font-size: 1.2rem;
}


/* =====================================
  Portfolio
========================================*/

.portfolio {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.portfolio__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.portfolio__list-item {
  padding: 1rem 3rem;
  font-family: "Poppins-Regular";
  font-size: 1.2rem;
  border-radius: 2rem;
  cursor: pointer;
}

.portfolio__list-item--active {
  background-color: var(--primary-color);
  color: var(--light-bg-color);
}

.portfolio__slider {
  opacity: 0;
  display: none;
  overflow: hidden;
  height: 0;
}

.portfolio__slider--show {
  opacity: 1;
  display: block;
  overflow: visible;
  height: auto;
}

.swiper-wrapper {
  margin-bottom: 4rem !important;
}

.swiper-slide img {
  width: 100%;
}

.swiper-pagination-bullet {
  background-color: var(--light-bg-color) !important;
  border: 2px solid var(--light-text-color) !important;
  opacity: 1 !important;
  height: 1rem !important;
  width: 1rem !important;
}

.swiper-pagination-bullet-active {
  border: 2px solid var(--primary-color) !important;
}


/* =====================================
  Contact us
========================================*/

.contact_wrapper {
  background: url(../images/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60rem;

}

.contact_wrapper .container {
  display: flex;
  justify-content: space-between;
}

.shape__wrapper {
  position: relative;
}

.contactus__shape {
  background-color: var(--light-bg-color);
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 12rem;
  left: 15rem;
}

.contactus__icon {}

.contactus__content {
  background-color: var(--light-bg-color);
  border-radius: 1rem;
  box-shadow: 0 0 10px var(--first-shadow-color);
  display: flex;
  flex-direction: column;
  width: 40rem;
  padding: 2rem;
  height: auto;
  margin-top: 4rem;
  margin-right: 4rem;
}

.contactus__title {
  font-family: "Poppins-Bold";
  font-size: 2.6rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.contactus__form {
  display: flex;
  flex-direction: column;

}

.contactus__form-input {
  outline: none;
  border: none;
  box-shadow: 0 0 10px var(--first-shadow-color);
  color: var(--primary-color);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  font-family: "Poppins-Regular";
  font-size: 1.4rem;
}

.contactus__form-textarea {
  resize: none;
}

.contactus__form-btn {
  background-color: var(--primary-color);
  padding: 1rem 0;
  border-radius: 2rem;
  outline: none;
  border: none;
  color: var(--light-bg-color);
  font-family: "Poppins-SemiBold";
  font-size: 1.4rem;
  cursor: pointer;
}