@import url(reset.css);
@import url(fonts.css);
@import url(grid.css);

:root {
  --primary-color: #0CBFAE;
  --secondary-color: #F57F17;
  --first-shadow-color: #60E9FF;
  --dark-text-color: #333333;
  --light-text-color: #95A5C6;
  --default-border-radius: 2rem;
  --light-bg-color: #FFFFFF;
  --dark-bg-color: #161D26;
  --secondary-bg-color: rgb(31, 41, 53);
  --transition-default: all 0.3s ease-in;
}

/* =====================================
  General style
========================================*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins-Regular";
  font-size: 1.6rem;
  line-height: 1.4;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* =====================================
  Helper Class
========================================*/
.flx {
  display: flex;
}

.align-center {
  align-items: center;
}

/* justify-content-space-between */
.jus-sbt {
  justify-content: space-between;
}

.jus-cen {
  justify-content: center;
}

/* h1 title */
.h1t {
  font-family: "Poppins-Bold";
  font-size: 4rem;
  color: var(--primary-color);
}

.h2t {
  font-family: "Poppins-Bold";
  font-size: 3.6rem;
  color: var(--primary-color);
}

/* text dedault style */
.tds {
  font-family: "Poppins-Regular";
  font-size: 1.4rem;
  color: var(--light-text-color);
}

.wrapper-default-btns {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.btn {
  background: #0CBFAE;
  width: 20rem;
  height: 5rem;
  border-radius: 4rem;
  color: var(--light-bg-color);
}

.btn--orange {
  background-color: var(--secondary-color);
}



/* =====================================
  App Styles - Navigation
========================================*/

.home {
  height: 54rem;
  position: relative;
  background-image: url(../images/shapes/header-shape.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 3rem;
}

.header {
  box-shadow: 0 0 10px 0 var(--first-shadow-color);
  z-index: 100;
}

.nav {
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}

.menu__item {
  margin-right: 2rem;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link--active {
  color: var(--primary-color);
}

.menu__link {
  transition: var(--transition-default);
}

.menu__link:hover {
  color: var(--primary-color);
}

.nav__btn {
  display: none;
}

/* =====================================
  Home section
========================================*/

.home {
  margin-top: 10rem;
}

.home__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home__name {
  font-family: "Poppins-SemiBold";
  font-size: 2.2rem;
  color: var(--primary-color);
}

.home__name span {
  color: var(--secondary-color);
}

.home__img {
  background-image: url(../images/header-avatar.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  border: 10px solid var(--light-bg-color);
  box-shadow: 0 0 10px 0 var(--primary-color);
}

.home__banner {
  margin-left: 10rem;
}

/* =====================================
  About section
========================================*/

.about {
  margin-top: 5rem;
}

.general-head-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.general-head-section__title {
  margin-bottom: 1.4rem;
}

.general-head-section__caption {
  font-family: "Poppins-Regular";
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.general-head-section--line {
  background-color: var(--primary-color);
  width: 20rem;
  height: 0.3rem;
  position: relative;
}

.general-head-section--line::before {
  content: " ";
  position: absolute;
  left: 50%;
  top: -50%;
  background-color: var(--primary-color);
  width: 4rem;
  height: 0.6rem;
  border-radius: 2rem;
  transform: translateX(-50%);
}

.about__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 var(--primary-color);
  height: 54rem;
  padding: 0;
  border-radius: 1rem;
  overflow: hidden;
}

.about__banner {
  flex-grow: 1;
  flex-basis: 50%;
  height: 100%;

}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__description {
  flex-basis: 50%;
  padding-left: 4rem;
  padding-right: 4rem;
}

.about__title {
  font-family: "Poppins-SemiBold";
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.about__caption {
  font-family: "Poppins-Regular";
  font-size: 1.4rem;
  color: var(--light-text-color);
  margin-bottom: 5rem;
}

.about__title-features {
  font-family: "Poppins-SemiBold";
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.about__feature {
  font-family: "Poppins-Regular";
  font-size: 1.4rem;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 3rem;
  display: flex;
  align-items: center;
}

.about__feature::before {
  content: "";
  background-color: var(--secondary-color);
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
}