/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {

    /* =====================================
  About
========================================*/
    .about__description {
        padding-top: 10rem;
    }

    .about__description .wrapper-default-btns__btn {
        margin-bottom: 8rem;
        width: 18rem;
    }
}

/* Large devices (laptops/desktops, 960px and down) */
@media only screen and (max-width: 992px) {

    /* =====================================
  Home
========================================*/
    .home__img {
        width: 24rem;
        height: 24rem;
    }

    .home__title {
        font-size: 3.2rem;
    }

    .btn {
        width: 14rem;
        height: 4rem;
        font-size: 1.2rem;
    }

    /* =====================================
  about
========================================*/
    .about__content {
        flex-direction: column;
        height: auto;
    }

    .about__description {
        padding-top: 3rem;
    }
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {

    /* =====================================
  Menu
========================================*/

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--primary-color);
        border-radius: 1rem;
        box-shadow: 0 0 10px 0 var(--primary-color);
        background-color: var(--light-bg-color);
        display: none;
        transition: var(--transition-default);
    }

    .menu--active {
        display: flex;
    }

    .menu__item {
        margin-top: 1rem;
        margin-right: 0;
    }

    .menu__item:last-child {
        margin-bottom: 1rem;
    }

    /* =====================================
  Nav button
========================================*/
    .nav__btn {
        position: relative;
        cursor: pointer;
        height: 4rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        box-shadow: 0 0 4px var(--primary-color);
        border-radius: 1rem;
        padding: 3rem;
    }

    .nav__btn--line,
    .nav__btn--line::after,
    .nav__btn--line::before {
        background-color: var(--primary-color);
        position: absolute;
        width: 5rem;
        height: 0.3rem;
        transition: var(--transition-default);
    }

    .nav__btn--active .nav__btn--line {
        background-color: transparent;
    }

    .nav__btn--active .nav__btn--line::after {
        transform: translateY(-1.2rem) rotate(45deg);
    }

    .nav__btn--active .nav__btn--line::before {
        transform: translateY(1.2rem) rotate(-45deg);
    }

    .nav__btn--line {
        display: block;
    }


    .nav__btn--line::after {
        content: " ";
        top: 1.2rem;
    }

    .nav__btn--line::before {
        content: " ";
        top: -1.2rem;
    }

    /* =====================================
  Home
========================================*/

    .home {
        height: 68rem;
    }

    .home .row {
        flex-direction: column-reverse;
    }

    .home__content {
        align-items: center;
    }

    .home__banner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .wrapper-default-btns {
        justify-content: center;
    }

    /* =====================================
  Services
========================================*/

    .service__caption {
        max-width: 100%;
    }



    .service__shape {
        bottom: -5rem;
    }
}




/* Small devices (portrait tablets and large phones, 576px and down) */
@media only screen and (max-width: 576px) {

    .about__description .wrapper-default-btns__btn {
        margin-bottom: 0;
    }

    .about__description .wrapper-default-btns__btn:last-child {
        margin-bottom: 2rem;
    }

}